@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

@function multiple-box-shadow ($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
    }

    @return unquote($value);
}


$shadows-1:  multiple-box-shadow(200);
$shadows-2:  multiple-box-shadow(200);
$shadows-3:  multiple-box-shadow(200);
$shadows-4:  multiple-box-shadow(200);
$shadows-5:  multiple-box-shadow(200);

.stars1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-1;
    
    @include keyframes(animStar) {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-2000px);
        }
    }

    @include animate(animStar, 150s, linear, infinite);

    &::after  {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-1;
    }

}
  

.stars2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-2;
    
    @include keyframes(animStar2) {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(2000px);
        }
    }

    @include animate(animStar2, 150s, linear, infinite);

    &::after  {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-2;
    }

}
  
